/* Page chatBox */

.page {
  background-color: rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

/* Component chatApp */

.chatApp {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

/* Component chatBox */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 60vw;
  font-size: 20px;
  color:black
}

.chatBox {
  margin-top: 10%;
  width: 100%;
  height: 80%;
  border: 1px solid #070707;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: aliceblue;
}

.sender {
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black
}

.messageList {
  list-style-type: none;
  padding: 0;
}

.message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.messageContent {
  word-break: break-all;
}

.sentMessage {
  background-color: #add5ff;
  margin-right: 10vh;
}

.receivedMessage {
  background-color: #ff9c9c;
  margin-left: 10vh;
}

.message .text {
  margin-bottom: 5px;
}

.messageActions {
  margin-top: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 1%;
}

.inputContainer input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.inputContainer button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #82fbdb;
}

.buttonContainer {
  margin-top: 5px;
  display: flex;
  margin-left: 2%;
}

.buttonContainer button {
  margin-right: 5px;
}

.save {
  border-radius: 5px;
  font-size: 15px;
  padding: 2px;
  background-color: white;
}

.cancel {
  border-radius: 5px;
  font-size: 15px;
  padding: 2px;
  color: white;
  background-color: rgb(74, 74, 74);
}

.edit {
  border-radius: 5px;
  font-size: 15px;
  padding: 2px;
  background-color: white;
}

.delete {
  border-radius: 5px;
  font-size: 15px;
  padding: 2px;
  color: white;
  background-color: rgb(74, 74, 74);
}

/* Media queries for screens smaller than 768px */

@media screen and (max-width: 768px) {
  .chatApp {
    flex-direction: column;
    gap: 0;
    margin-left: 5%;
    margin-right: 5%;
  }

  .container {
    max-width: 80vw;
  }

  .chatBox {
    margin-top: 5%;
    height: 60vh;
  }

  .buttonContainer {
    margin-left: 0;
    margin-top: 5px;
  }
}
